* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   width: 100%;
   background-color: #252525;
}

#game-container {
   max-width: 850px;
   width: 90%;
   height: 550px;
   display: flex;
   flex-direction: column;
   background-color: transparent;
   padding: 1em 0;
   margin: 1em auto;
   border-radius: 1em;
   color: #fff;
   justify-content: center;
   align-items: center;
}

#game-header {
   margin: 1em 0 0;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 3.5em;
}

#game-body {
   margin: 1.5em auto;
   width: 380px;
   height: 380px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 6px
   ;
}

#reset-game-box {
   width: 380px;
   height: 380px;
   box-shadow: 0 0 25px 5px #161515;
   border-radius: 13px;
   margin: 15px 0;
   background-color: #161515;
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: center;
   align-items: center;
}

.game-point {
   color: orange;
}

.square {
   width: 120px;
   height: 120px;
   border: none;
   box-shadow: 0 0 10px 3px #161515;
   border-radius: 1em;
}

.square:hover {
   box-shadow: 0 0 10px 2px rgb(201, 9, 34);
}

.mole {
   background-image: url(../asst/picture.jpg);
   background-size: cover;
}
.mole:active {
   box-shadow: 0 0 10px 5px rgb(44, 182, 9);
}

#button-container {
   width: 100%;
   display: flex;
   justify-content: space-around;
}

button {
   max-width: 450px;
   width: 150px;
   height: 3em;
   align-self: center;
   border-radius: 2em;
}

#start-btn {
   background-color: rgb(126, 190, 219);
   border: none;
   color: #fff;
   text-transform: uppercase;
   font-family: Impact, sans-serif;
   font-weight: bold;
}

#start-btn:hover {
   cursor: pointer;
   box-shadow: 0 0 25px 2px rgb(105, 178, 212);
}

.reset-btn {
   background-color: rgb(240, 139, 8);
   margin-top: 1em;
   border: none;
}

.reset-btn:hover {
   box-shadow: 0px 0px 30px 3px rgb(240, 139, 9);
   
}



@media (max-width: 500px) {
   
   #game-container {
      width: 100%;  
      padding: 2em;
   }
   
   #game-body {
      width: 330px;
      height: 330px;
      width: 100%;
   }
   .square {
      width: 90px;
      height: 90px;
      margin: 0 3px;
   }
}

